.admin-container {
    .general-body {
        height: 100%;
        .admin-content-wrapper {
            display: grid;
            grid-template-columns: 1fr;
            //grid-gap: 50px;
            width: 50%;

            .admin-menu {
                .menu-item-container {
                    width: 80%;
                    .menu-item {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 10px;
                        border: 2px solid $shade-five;
                        width: 100%;
                        margin-left: 0px;

                        .product-icons {
                            svg {
                                color: black;
                                font-size: 1.2em;
                                padding: 15px 20px;
                                cursor: pointer;
                                transition: ease-in-out 0.5s;

                                &:hover {
                                    color: darkred;
                                }
                            }
                        }
                    }
                }
            }

            .user-info {
                .user-title {
                    font-weight: 600;
                    margin-bottom: 5px;
                }

                .user-content {
                    margin-bottom: 10px;
                }
            }

            .admin-titulo {
                @include titulo-general;
            }

            .create-new-product,
            .edit-item {
                display: grid;
                grid-template-columns: 1fr;
                gap: 5px;

                input {
                    @include input-general;
                }

                .btn {
                    margin-bottom: 50px;
                    margin-top: 10px;
                    @include btn;
                }
            }
        }
    }
}
