@import "./helper/variables.scss";
@import "./helper/mixin.scss";
@import "./general/header.scss";
@import "./pages/home.scss";
@import "./general/footer.scss";
@import "./modal/menu-modal.scss";
@import "./modal/reservation.scss";
@import "./pages/admin.scss";
@import "./pages/log-sign-in.scss";
@import "./pages/profile.scss";
@import "./pages/order.scss";
@import "./pages/about.scss";
@import "./helper/media-queries.scss";

.app-wrapper {
    margin: -8px;
    font-family: "Numans", sans-serif;
    a {
        text-decoration: none;
    }
}
