.pedido-wrapper {
    .pedido-titulo {
        @include titulo-general;
    }
}

.menu-container {
    .menu-wrapper {
        .menu-titulo {
            font-size: 1.1em;
            color: $favicon;
        }
        li {
            list-style-type: none;
            margin-left: -40px;
            font: 1em;
        }
        input {
            @include input-general;
        }

        .btn {
            margin-bottom: 50px;
            @include btn;
        }
    }
}
