.profile-container-wrapper {
    .profile-container {
        @include background;
        display: flex;
        justify-content: center;

        .personal-info-wrapper {
            width: 40%;
            margin: 50px 0px;

            .user-info-container {
                margin-bottom: 25px;
                .user-title {
                    @include titulo-general;
                }
            }
        }
        .pedidos-wrapper {
            .pedidos-title {
                @include titulo-general;
            }
            .cada-pedido {
                padding: 15px;
                border: 2px solid $shade-five;
                margin: 10px 0px;
                .titulo-deplegable {
                    cursor: pointer;
                    color: $shade-one;
                    font-weight: 600;
                    font-size: 1em;
                    margin-bottom: 10px;
                    transition: ease-in-out 0.5s;

                    &:hover {
                        color: $shade-three;
                    }
                }
                .contenido {
                    .elemento-pedido {
                        padding: 3px 0px;
                    }
                }
            }
        }
    }
}
