@media screen and (max-width: 768px) {
    // footer.scss
    .footer-container-wrapper {
        padding: 24px 0px;
        grid-template-columns: 1fr;
        gap: 5px;
        height: 100%;
        img {
            display: none;
        }
    }

    // header.scss
    .log-in-wrapper,
    .profile-wrapper {
        a {
            .big-screen {
                display: none;
            }
        }
    }

    // menu-modal.scss
    .modal-wrapper {
        .menu-container {
            align-items: center;
            justify-items: center;
            .menu-wrapper {
                grid-template-columns: 1fr;
                gap: 5px;
            }
        }
    }

    .pedido-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        li {
            display: grid;
            gap: 5px;
            margin-bottom: 5px;
        }
    }

    .log-in-message {
        font-size: 1em;
        span {
            display: none;
        }
    }

    .profile-container-wrapper .profile-container {
        width: 70%;
    }
    .admin-container-wrapper .admin-container {
        width: 90%;
        .admin-menu .menu-item-container {
            width: 100%;
        }
    }

    .admin-container-wrapper
        .admin-container
        .admin-menu
        .admin-menu-item-container {
        width: 87%;
    }
    .sign-in-container {
        margin: 0px 10px;
    }
    .welcome-comment {
        span {
            display: none;
        }
    }

    .ReactModal__Content {
        width: 80%;
    }

    .modal-wrapper {
        .menu-container {
            .menu-wrapper {
                height: 100%;
                grid-template-columns: 1fr;
                gap: 0px;
            }
        }
    }
}

@media screen and (max-width: 1200px) and (min-width: 685px) {
    // body {
    //     font-size: 1.5em;
    // }
    .profile-container-wrapper .profile-container {
        width: 70%;
    }

    .welcome-comment {
        span {
            display: none;
        }
    }
}
