@mixin general-body {
    min-height: 73vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include background;
}

@mixin background {
    background-color: $main-light;
    background-image: url("../../assets/background.jpg");
    background-position: center;
    background-size: cover;
    background-blend-mode: lighten;
}

@mixin titulo-general {
    font-family: $main-font;
    color: $main-dark;
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 50px;
}

@mixin enlaces-general {
    font-family: $main-font;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    border-radius: 4px;
    color: $main-light;
    padding: 5px;
    font-size: 1.1em;
    font-weight: 600;
    transition: ease-in-out 0.5s;

    &:hover {
        border-bottom: 3px solid $main-light;
        border-radius: 4px;
    }
}

@mixin input-general {
    font-size: 1em;
    background-color: $main-light;
    border: 2px solid $content-borders;
    border-radius: 5px;
    padding: 5px;
    color: $main-dark;
    transition: 0.5s;

    &::placeholder {
        color: $main-dark;
        font-family: $main-font;
    }
    &:focus {
        outline: none;
        border: 2px solid $main-dark;
        border-radius: 5px;
        box-shadow: 10px 10px 33px -5px rgba(0, 0, 0, 0.1);
    }
}
@mixin btn {
    font-size: 1em;
    font-family: $main-font;
    background-color: $main-light;
    padding: 10px 20px;
    border: 2px solid $main-dark;
    border-radius: 5px;
    color: $main-dark;
    cursor: pointer;
    transition: 0.5s ease-in-out;

    &:hover {
        background-color: $main-dark;
        color: $main-light;
    }
}
