@mixin general-body {
    min-height: 73vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include background;
}

@mixin background {
    background-color: $shade-four;
    background-image: url("../../assets/background.jpg");
    background-position: center;
    background-size: cover;
    background-blend-mode: lighten;
}

@mixin titulo-general {
    font-family: "Numans", sans-serif;
    color: $shade-three;
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 50px;
}

@mixin enlaces-general {
    font-family: "Numans", sans-serif;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    border-radius: 4px;
    color: $shade-four;
    padding: 5px;
    font-size: 1.1em;
    font-weight: 600;
    transition: ease-in-out 0.5s;

    &:hover {
        border-bottom: 3px solid $shade-four;
        border-radius: 4px;
    }
}

@mixin input-general {
    font-size: 1em;
    background-color: $shade-four;
    border: 2px solid $shade-five;
    border-radius: 5px;
    padding: 5px;
    color: $shade-three;
    transition: 0.5s;

    &::placeholder {
        color: $shade-three;
        font-family: "Numans", sans-serif;
    }
    &:focus {
        outline: none;
        border: 2px solid $shade-three;
        border-radius: 5px;
        box-shadow: 10px 10px 33px -5px rgba(0, 0, 0, 0.1);
    }
}
@mixin btn {
    font-size: 1em;
    font-family: "Numans", sans-serif;
    background-color: $shade-four;
    padding: 10px 20px;
    border: 2px solid $shade-three;
    border-radius: 5px;
    color: $shade-three;
    cursor: pointer;
    transition: 0.5s ease-in-out;

    &:hover {
        background-color: $shade-three;
        color: $shade-four;
    }
}
