$favicon: #90286e;
$lighter-title: #a74687;
$main-dark: #751355;
$main-light: #f0d0e5;
$content-borders: #c574ab;

$main-font: "Numans", sans-serif;

$shade-two: #550039; // sin usar
$shade-six: #dca2c9; // sin usar
