// revisado
.footer-container-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    background-color: $shade-three;
    height: 17vh;
    color: $shade-four;
    box-shadow: -2px -5px 38px 9px rgba(0, 0, 0, 0.3);

    .footer-adress {
        width: 100%; // zeozer jartzeatik
    }

    .footer-logo {
        width: 100%;
        display: flex;
        justify-content: center;
        img {
            width: 80px;
        }
    }
    .footer-contact {
        a {
            color: $shade-four;
        }
    }
}
