// revisado
.header-container-wrapper {
    position: relative;
    width: 100%;
    height: 10vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    background-color: $main-dark;
    box-shadow: -2px -5px 38px 9px rgba(0, 0, 0, 0.3);

    .logo-wrapper {
        img {
            width: 43px;
            padding: 10px;
            margin-left: 10px;
        }
    }

    .header-links-container {
        display: flex;
        justify-content: space-between;

        .header-profile-admin-link,
        .header-log-in-out-wrapper,
        .header-about-link {
            padding: 0px 20px;

            a {
                .header-buttons {
                    display: flex;
                    @include enlaces-general;

                    .big-screen {
                        margin-right: 5px;
                    }
                    .small-screen {
                        svg {
                            font-size: 1.1em;
                        }
                    }
                }
            }
        }
    }
}
