// revisado
.about-container-wrapper {
    @include general-body;

    .about-container {
        width: 50%;
        display: grid;
        justify-items: center;

        .about-title-container {
            @include titulo-general;
        }

        .about-text-container {
            p {
                margin-bottom: 10px;
            }
        }
    }
}
