// revisado
.admin-container-wrapper {
    @include general-body;

    .admin-container {
        display: grid;
        grid-template-columns: 1fr;
        width: 50%;
        margin-bottom: 50px;

        .single-order-container,
        .single-user-reservations-container {
            padding: 15px;
            border: 2px solid $content-borders;
            margin: 10px 0px;
            .single-order-title {
                cursor: pointer;
                color: $lighter-title;
                font-weight: 600;
                font-size: 1em;
                margin-bottom: 10px;
                transition: ease-in-out 0.5s;

                &:hover {
                    color: $main-dark;
                }
            }
            .single-order-content {
                .single-order-element {
                    padding: 3px 0px;
                }
            }
        }

        .admin-users-reservations-info {
            .admin-users-reservations-info-title {
                @include titulo-general;
                border-bottom: 3px solid transparent;
                border-radius: 4px;
                justify-self: center;
                cursor: pointer;
                transition: ease-in-out 0.5s;
                padding: 5px;
                margin-top: 30px;

                &:hover {
                    border-bottom: 3px solid $main-dark;
                    border-radius: 4px;
                }
                cursor: pointer;
                justify-self: center;
            }

            .admin-users-info-content-hidden {
                display: none;
            }

            .admin-users-info-content-displayed {
                display: block;
            }

            .admin-orders-info-content-hidden {
                display: none;
            }

            .admin-orders-info-content-displayed {
                display: block;
            }

            .single-user-reservations-container {
                .single-user-reservations-title {
                    font-weight: 600;
                    margin-bottom: 5px;
                    font-size: 1em;
                }

                .single-user-reservations-content {
                    margin-bottom: 10px;
                    font-size: 0.9em;
                }
            }
        }

        .admin-menu-info-content-hidden {
            display: none;
        }

        .admin-menu-info-content-displayed {
            display: block;
        }

        .admin-menu {
            .admin-menu-title {
                @include titulo-general;
                border-bottom: 3px solid transparent;
                border-radius: 4px;
                justify-self: center;
                cursor: pointer;
                transition: ease-in-out 0.5s;
                padding: 5px;
                margin-top: 30px;

                &:hover {
                    border-bottom: 3px solid $main-dark;
                    border-radius: 4px;
                }
            }
            .admin-menu-item-container {
                width: 92%;
                .admin-menu-item {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 20px;
                    margin-bottom: 10px;
                    border: 2px solid $content-borders;
                    width: 100%;
                    margin-left: 0px;

                    .menu-item-icons {
                        display: grid;
                        grid-template-columns: 1fr;
                        gap: 10px;
                        svg {
                            color: black;
                            font-size: 1.2em;
                            cursor: pointer;
                            transition: ease-in-out 0.5s;

                            &:hover {
                                color: darkred;
                            }
                        }
                    }
                }
            }
            .edit-item {
                display: grid;
                grid-template-columns: 1fr;
                gap: 5px;

                input {
                    @include input-general;
                }

                .btn {
                    margin-top: 10px;
                    @include btn;
                }
            }
        }
        .create-new-product-container {
            .create-new-product-title {
                @include titulo-general;
            }
            .create-new-product-form {
                display: grid;
                grid-template-columns: 1fr;
                gap: 5px;

                input {
                    @include input-general;
                }

                .btn {
                    margin-top: 10px;
                    @include btn;
                }
            }
        }

        .admin-reservations-info-content-hidden {
            display: none;
        }

        .admin-reservations-info-content-displayed {
            display: block;
        }
    }
}
