.home-container-wrapper {
    @include general-body;
}
.home-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
    align-items: center;
    justify-items: center;
    .welcome-comment {
        @include titulo-general;
        margin-top: 0px;
        margin-bottom: 30px;
    }

    .menu {
        border: 4px solid $shade-three;
        color: $shade-three;
        border-radius: 5px;
        padding: 20px 40px;
        transition: ease-in-out 0.5s;
        cursor: pointer;
        font-size: 1.3em;
        font-weight: 600;

        &:hover {
            background-color: $shade-three;
            color: $shade-four;
        }
    }

    .order-book-buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;

        .book-table-link,
        .make-order-link {
            a {
                @include enlaces-general;
                cursor: pointer;
                color: $shade-three;
                font-size: 1em;
                &:hover {
                    border-bottom: 3px solid $shade-three;
                }
            }
        }
    }
    .log-in-message {
        a {
            @include enlaces-general;
            color: $shade-three;

            &:hover {
                border-bottom: 3px solid $shade-three;
            }
        }
    }
}
