// revisado
.order-container-wrapper {
    @include general-body;

    .order-container {
        width: 40%;
        margin-bottom: 50px;
        .order-title {
            @include titulo-general;
        }

        // menú dentro de oreder.js
        .menu-container {
            .loading-icon {
                display: flex;
                justify-content: center;

                svg {
                    color: $shade-three;
                    font-size: 3em;
                }
            }
            .menu-wrapper {
                .menu-title {
                    font-size: 1.1em;
                    font-weight: 600;
                    color: $favicon;
                }
                li {
                    border: 2px solid $shade-five;
                    padding: 5px;
                    list-style-type: none;
                    margin-left: -40px;
                    font-size: 1em;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 5px;
                }
                input {
                    @include input-general;
                    width: 120px;
                }

                .btn {
                    @include btn;
                    width: 100%;
                }
            }
        }
    }
}
